body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: rgb(125, 125, 234);
}
#backbtn {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 2em;
    text-decoration: none;
    color: black;
}
#backbtn:hover{
    color: #A0153E;
    text-decoration: underline;
}
#container {
    text-align: center;
    padding: 25px;
    margin: auto;
    border-radius: 25px;
    width: 350px;
    height: 400px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.433);
    background-color: rgba(255, 255, 255, 0.829);
    
}

#calculate{
    background-color: rgb(250, 69, 69);
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#calculate:hover{
    background-color: rgb(247, 32, 32);
}
#calculate:active{
    background-color: rgb(190, 27, 27);
}

#textBox{
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

#temp1, #temp2 {
    margin-top: 10px;
    margin: 5px;
    width: 150px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
}
#temp2 {
    width: 175px;
}

.label{
    font-weight: bold;
}