#aboutsec {
    height: 100vh;
    background-color: #CECECE;
    background-size: cover;
    background-repeat: no-repeat;
    min-height:900px;
}


#title-about {
    display: flex;
    font-size: 70px;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    padding-top: 80px;
    margin: 0;
    font-style: normal;
    text-align: justify;
    
    font-weight: bold;
}
#subtitle-about{
    display: flex;
    font-size: 40px;
    justify-content: center;
    color: rgb(94, 93, 93);
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    margin-right: 0;
    font-style: normal;
    text-align: justify;
    margin-bottom: 0;
    margin-top: 0;
}



.container-about {
    display: grid;
    grid-template-columns: 100px 100px 35% 35%;
    grid-template-rows: repeat(12, 40px);
    padding-left: 250px;
    margin: 100px auto;
}
.container-about-mobile{
    display: none;
}
.container-about > p {
    display: flex;
    align-items: center;
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: bold;
}

.skill-bar {
    margin-top: 12px;
    position: relative;
    width: 100%;
    height: 15px;
    background-color: #f0f0f0;
    border-radius: 15px;
    margin-bottom: 20px;
    overflow: hidden;
}

.skill-bar-fill {
    
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #2a8948;
    border-radius: 15px 0 0 15px;
    transition: width 2s ease-in-out;
}
.skills-img, .skills-txt1, .skills-txt2{
    grid-row: span 2;
    padding-left: 35%;
    padding-right: 0;
    text-align: center;
    font-family: "Pathway Gothic One", sans-serif;
}
.skills-txt1{
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 30px;
}
.skills-txt1 > p {
    margin-top: 15px;
}
.skills-txt2 {
    color: rgb(118, 117, 117);
}
.skills-txt2 > p {
    margin-top: 0;
}
.skills-img > img {
    width: 90px;
}
.skills-img{
    padding-bottom: 10px;
}



@media (max-width: 1500px){
    .skills-img, .skills-txt1, .skills-txt2{
       
        padding-left: 15%;
      }



}

@media (max-width: 1170px){
    .container-about{
        padding-left: 150px;
    }



}

@media (max-width: 880px){
    .container-about{
        padding-left: 50px;
    }



}

@media (max-width: 880px){
    .container-about{
        grid-template-columns: 65px 60px 35% 35%;
    }

    .skills-img > img {
        width: 60px;
    }
    .skills-txt1, .skills-txt2{
        margin-top: 0;
    }

}


@media (max-width: 450px){
    .skills-txt1, .skills-txt2, .skills-img{
        display: none;
    }
    .container-about {
        grid-template-columns: 80px 1fr;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 0;
    }
    .container-about-mobile{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .container-about-mobile-title{
        grid-column: span 2;
        text-align: center;

    }

    .container-about-mobile-title > p {
        font-family: "Pathway Gothic One", sans-serif;
        font-size: 3em;
    }

    .container-about-mobile-img > img {
        width: 80px;
        height: 80px;
    }
    .container-about-mobile-img {
        display: flex;
        justify-content: center;
    }

    .container-about-mobile-txt > p {
        font-family: "Pathway Gothic One", sans-serif;
        padding-right: 20px;
        text-align: justify;
    }

    #aboutsec {
        height: 2000px;
    }
    

}

