#contactsec {
   font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.881);
}

#title-contact {
  display: flex;
  font-size: 70px;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 400;
  padding-top: 80px;
  margin: 0;
  font-style: normal;
  text-align: justify;
  
  font-weight: bold;
}
#subtitle-contact{
  display: flex;
  font-size: 40px;
  justify-content: center;
  color: rgb(94, 93, 93);
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 400;
  margin-right: 0;
  font-style: normal;
  text-align: justify;
  margin-bottom: 0;
  margin-top: 0;
}

#name{
  width: 95%;
  height: 20px;
  border-radius: 5px;
}
#email{
  width: 95%;
  height: 20px;
  border-radius: 5px;
}
#message{
  width: 95%;
  height: 200px;
  border-radius: 5px;
}
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #606161;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #9b9b9b;
  }
  
  /* Add a background color and some padding around the form */
  .containerform {
    border-radius: 5px;
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 100px;
    padding-bottom: 65px;
  }


@media (max-width: 1360px){
    .containerform {
      margin-left: 300px;
      margin-right: 300px;
    }

}

@media (max-width: 1000px){
  .containerform {
    margin-left: 150px;
    margin-right: 150px;
  }

}

@media (max-width: 680px){
  .containerform {
    margin-left: 100px;
    margin-right: 100px;
  }

}