.navbar-white {
  display: none;
}
#mobile {
  display: none;
  visibility:hidden;

}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.main-img1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 10%;
    left: 35%;
    right: 35%;
    bottom: 0;
}

.main-img2{
  display: none;
}



body {
    margin: 0;
    background: radial-gradient(#ababab, #efefef);
}

#main-img-img1{
    width: 700px;
    z-index: 1;
    margin-bottom: 0;
    animation-duration: 3s;
    animation-name: appear;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 100px;
    grid-template-rows: 250px 300px 1fr;
    height: 100vh;
    bottom: 0;
}


ul {
    list-style-type: none
}

.navbar, .contact-p, .view-work-p {
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    font-size: 20px;
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 0;
    animation-duration: 1s;
    animation-name: slidein;
    position: fixed;
    z-index: 2;
}

.menuwork:hover {
  color: #A0153E;
}

.menuabout:hover {
  color: #1E5128;
}

.menucontact:hover {
  color: #00337C;
}

.linkmenu {
  z-index: 1000;
}

.linkmenu {
  color: black;
}

.linkmenu:hover{
  text-decoration: underline;
}

a{
  text-decoration: none;
}

.logomenu {
    height: 50px;
    transition: transform .3s ease-in-out;
}

.logomenu:hover {
  -webkit-transform: rotate(180deg);
}

.contact {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 30px;
    margin-right: 40px;
    margin-top: 50px;
    animation-duration: 1s;
    animation-name: slidedown;
}

.contact-p {
    margin-top: 0;
    color: black;
}

.contact-p:hover {
  background-color: black;
  color: white;
}

.social-img2 {
    width: 30px;
    padding-right: 15px;
  
}

.social-img2:hover {
  transition: transform .3s ease-in-out;
  -webkit-transform: rotate(20deg);

}

.social-img {
    
    position: fixed;
    right: 0;
    margin-right: 50px;
    margin-top: 38px;
    animation-duration: 1s;
    animation-name: slidedown;
    z-index: 3;
}

h1 {
    color: rgba(0, 0, 0, 0.411);
    font-size: 16vw;
    margin-top: -50px;
    margin-bottom: 30px;
    
}

.name-center {
    display: flex;
    grid-column: span 3;
    justify-content: center;
    align-items: center;
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 80px;
    animation-duration: 2s;
    animation-name: slideup;
}

.bot-left {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 50px;
    animation-duration: 2s;
    animation-name: appear;
    
}

.li-first {
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.2vw;
}

.li-sec {
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 15px;
}

.and, .less{
    opacity: 0.4;
}

.view-work {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: black;
    margin-right: 40px;
    margin-bottom: 21px;
    animation-duration: 2s;
    z-index: 2;
}

.view-work-p {
    margin-top: 0;
    font-size: 30px;
    color: black;
    animation-duration: 2s;
    animation-name: appear;
    
    
}

.view-work-p:hover {
  background-color: black;
  color: white;
}

.view-work-img2 {
    width: 62px;
  
}

.view-work-img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 50px;
    margin-bottom: 32px;
    animation-duration: 2s;
    animation-name: appear;
}

.contact-img2:hover, .logomenu:hover {
  -webkit-filter: invert(50%) !important;
}

.view-work-img:hover {
  -webkit-filter: invert(100%) !important;
}



@keyframes slidein {
    from {
      margin-left: -150px;
      opacity: 0;
      width: 300%;
    }
  
    to {
      margin-left: 50px;
      opacity: 1;
      width: 100%;
    }
  }

  

  @keyframes slideup {
    from {
      margin-bottom: -400px;
      opacity: 0;
      height: 300%;
    }
  
    to {
      margin-bottom: 0;
      opacity: 1;
      height: 100%;
    }
  }

  @keyframes slidedown {
    from {
      margin-top: -150px;
      opacity: 0;
      height: 300%;
    }
  
    to {
      margin-bottom: 50px;
      opacity: 1;
      height: 100%;
    }
  }

  @keyframes slideup {
    from {
      margin-bottom: -150px;
      opacity: 0;
      height: 300%;
    }
  
    to {
      margin-bottom: 50px;
      opacity: 1;
      height: 100%;
    }
  }

  @keyframes appear {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  

  @media (max-width: 680px){
    .navbar-white {
      background-color: white;
      display: block;
      position: fixed;
      height: 110px;
      width: 100vh;
      z-index: 2;
    }

    #mobile {
      display: grid;
      visibility: visible;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    .contact-img, .contact, .view-work, .view-work-img{
      display: none;
    }


    .navbar > ul > li {
      display: inline-block;
      margin-right: 10vw;
      padding-left: 0;
      
    }

    .navbar > ul {
      padding-left: 0;
      display: flex;
      align-self: flex-start;
      margin-top: 0
      ;
    }

    .name-center {
      padding-left: 0;
    }
    h1 {
      margin-bottom: 400px;
      font-size: 19vw;
    }
    .bot-left {
      padding-left: 0;
    }
    .bot-left > ul {
      padding-left: 15px;
    }

    .social-img2 {
      width: 20px;
      
      margin-top: 30px;
    
    }
    .social-img {
      margin-right: 35%;
    }
    .logomenu {
      height: 40px;
      align-self: center;
      display: flex;
      margin-top: 10px;
    }

  }

  @media (max-width: 550px){
    .main-img2{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      top: 10%;
      left: 35%;
      right: 35%;
      bottom: 0;
    }
    .main-img1 {
      display: none;
    }
    #main-img-img2{
      width: 300px;
      z-index: 1;
      margin-bottom: 0;
      animation-duration: 3s;
      animation-name: appear;
  }
  }

  @media (max-width: 470px){
    .navbar > ul > li {
      font-size: 15px;
    }
    .logomenu {
      height: 40px;
    }


  }


  @media (max-height: 665px){
   
    .view-work, .view-work-img, .bot-left{
      display: none;
    }

    
  }


  @media (max-height: 450px){
    .name-center{
      justify-content: flex-end;
    }
    .name-center > h1 {
      font-size: 5em;
    }
    #main-img-img{
      width: 100px;
    }
    #home {
      grid-template-columns: 1fr 1fr 100px;
      grid-template-rows: 1fr 1fr;
    }
    
  }

  